---
import Tribu from "../../components/Tribu.astro";
---

<h3>L'eau</h3>
<p>L'eau est le composant fluide de tous les êtres vivants.</p>
<p>
  Elle tombe en pluie, ou est captée depuis des cours d'eau, des plantes, le sol
  ou même l'air.
</p>
<h4>Principales tribus utilisatrices</h4>
<ul class="inline-list">
  <li><Tribu id="bivara" outline={true} /></li>
</ul>
