---
import Ressource from "../../ressources/Ressource.astro";
import Tribu from "../../tribus/Tribu.astro";
---

<h3>Le jing</h3>
<p>
  Le jing est la matière, ou énergie stockée, solide qui structure les êtres et
  les choses.
</p>
<p>
  Maléable, il peut prendre toutes les formes, et peut être assimilé pour
  nourrir ou renforcer un système.
</p>
<p>
  Le <Ressource id="waild" /> est le principal lieu d'expression du jing, même si
  celui-ci est présent dans l'inerte.
</p>
<h4>Principales tribus utilisatrices</h4>
<ul class="inline-list">
  <li>
    <Tribu id="permak" />
  </li>
</ul>
