---
import Ressource from "../../components/Ressource.astro";
import Tribu from "../../components/Tribu.astro";
---

<h3>Le <Ressource id="waild" /></h3>
<p></p>
<h2>Mécaniques</h2>
<ul>
  <li>Objectif de victoire</li>
  <li>Accroissement dans le temps</li>
  <li>Validation et invalidation de prérequis</li>
</ul>

<h4>Principales tribus utilisatrices</h4>
<ul class="inline-list">
  <li>
    <Tribu id="kolokolo" />
  </li>
  <li>
    <Tribu id="novina" />
  </li>
</ul>
