---
import Ressource from "../../components/Ressource.astro";
import type { IdRessource } from "../../types/ressources/IdRessource";
import type { Carte } from "../type/Carte";

interface Props {
  couts: Carte["couts"];
}

const { couts } = Astro.props;
const entries = couts ? (Object.entries(couts) as [IdRessource, number][]) : [];
---

<td class="carte-couts">
  {
    entries.length > 0 && (
      <>
<ul>
          {entries.map(([id, val]) => (
            <li>
              {val} <Ressource id={id} plural={val > 1 ? true : undefined} />
            </li>
          ))}
        </ul>
      </>
    )
  }
</td>
