---
import DynamicString from "../../semantique/DynamicString/DynamicString.astro";
import type { Carte } from "../_types/Carte";

interface Props {
  notes?: Carte["notes"];
  histoire?: Carte["histoire"];
}

const { notes, histoire } = Astro.props;
---

<td class="carte-notes-histoire">
  {
    notes && notes.length > 0 && (
      <div class="carte-notes">
        <ul>
          {notes.map((note) => (
            <li>
              <DynamicString value={note} />
            </li>
          ))}
        </ul>
      </div>
    )
  }
  {
    histoire && (
      <div class="carte-histoire">
        <p>
          <i>{histoire}</i>
        </p>
      </div>
    )
  }
</td>

<style>
  .carte-notes > ul {
    flex-direction: column;
  }
</style>
