---
import type { Carte } from "../_types/Carte";
import TypesCarteSvgSwitch from "../type-carte/svg/TypesCarteSvgSwitch.astro";

interface Props {
  type: Carte["type"];
  nom: string;
}

const { type, nom } = Astro.props;
---

<td class="carte-item-type-et-nom">
  <TypesCarteSvgSwitch type={type} />
  {nom}
</td>

<style>
  .carte-item-type-et-nom {
    display: flex;
    align-items: center;
    gap: 0.4em;
  }
  span.legend {
    font-size: 0.7em;
    text-transform: uppercase;
    opacity: 0.8;
  }
</style>
