---
import DynamicString from "../../../semantique/DynamicString/DynamicString.astro";
import type { Carte } from "../../_types/Carte";
import CarteLineCouts from "./CarteLineCouts.astro";
import CarteLineGains from "./CarteLineGains.astro";

interface Props {
  actions: Carte["actions"];
}

const { actions } = Astro.props;
---

<td class="actions">
  {
    actions && actions.length > 0 && (
      <>
        <ul>
          {actions.map(({ nom, couts, gains, notes }) => {
            return (
              <li>
                <div>
                  <i>{nom}</i> :
                  <CarteLineCouts couts={couts} />→
                </div>
                <CarteLineGains gains={gains} />
                {notes?.map((note) => (
                  <>
                    <br />
                    <i>
                      <DynamicString value={note} />
                    </i>
                  </>
                ))}
              </li>
            );
          })}
        </ul>
      </>
    )
  }
</td>

<style>
  .actions > ul > li {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 4px;
    > :first-child {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
</style>
