@font-face {
  font-family: "pangaia";
  src: url("/public/fonts/PPPangaia-Bold.otf");
}

@font-face {
  font-family: "open";
  src: url("/public/fonts/OpenSans-Regular.ttf");
}

body {
  font-family: "open";
  margin: 0;
}

h1 {
  font-size: 3em;
  margin-bottom: 4vh;
}
h2 {
  font-size: 2.2em;
  margin-top: 2em;
}
h3 {
  font-size: 1.6em;
  margin-top: 1.4em;
}
h4 {
  font-size: 1.2em;
  margin-top: 1em;
}

h1,
h2,
h3,
h4 {
  font-family: "pangaia";
}

blockquote {
  font-size: 1.4em;
  margin-bottom: 1.4em;
  color: #0008;
}

.section {
  > * {
    max-width: 800px;
    margin-inline: auto;
    padding-inline: 1rem;
  }
}

.col-right,
.col-left {
  width: 100%;
  display: flex;
  gap: 2%;
  p {
    margin-top: 0;
  }
}
.col-left {
  > :first-child {
    width: 33%;
  }
  > :last-child {
    width: 66%;
  }
}
.col-right {
  > :first-child {
    width: 66%;
  }
  > :last-child {
    width: 33%;
  }
}

.menu-liens {
  margin-top: 32px;
  display: flex;
  gap: 12px;
  > a,
  > span {
    background-color: #ddf;
    padding: 8px 16px 4px;
    color: #000;
    font-family: "pangaia";
    font-size: 1.2em;
    text-decoration: none;
  }
}

.small {
  font-size: 0.8em;
}
.opacity-8 {
  opacity: 0.8;
}

/* Background color classes */
.bg-light {
  background-color: #eee;
}
.bg-muted {
  background-color: #6c757d;
  color: white;
}
.bg-dark {
  background-color: #111;
  color: white;
}
.bg-gold {
  background-color: #ffcd5c;
}
.bg-light-gold {
  background-color: #ffde95;
}
.bg-blue {
  background-color: #5d89ff;
  color: white;
}
.bg-light-blue {
  background-color: #bfd8ff;
}
.bg-deep {
  background-color: #433869;
  color: white;
}
.bg-light-deep {
  background-color: #b6b1c5;
}
.bg-jewel {
  background-color: #ffdcb0;
}
.bg-skin {
  background-color: #ff6e38;
}
.bg-dark-skin {
  background-color: #a7654d;
  color: white;
}
.bg-light-skin {
  background-color: #ffaf92;
}
.bg-green {
  background-color: #46af49;
  color: white;
}
.bg-light-green {
  background-color: #95df3a;
}
.bg-dark-green {
  background-color: #209100;
  color: white;
}
.bg-purple {
  background-color: #a735ff;
  color: white;
}
.bg-light-purple {
  background-color: #c579ff;
}
.bg-dark-purple {
  background-color: #6a0dad;
  color: white;
}
.bg-brown {
  background-color: #7b4a2d;
  color: white;
}
.bg-light-brown {
  background-color: #b47c5b;
}
.bg-turquoize {
  background-color: #00ffab;
}
.bg-dark-turquoize {
  background-color: #44b596;
  color: white;
}
.bg-orange {
  background-color: #ff9900;
}

/* Inline list */
.inline-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  list-style: none;
  padding: 0;
}

/* Text color */
.text-light {
  color: #fff;
}
.text-dark {
  color: #111;
}

/* Badge */
.badge {
  font-family: "pangaia";
  display: inline-block;
  margin: 0 0.05rem;
  padding: 0.1em 0.45em 0;
  font-size: 1em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 1em;
  text-decoration: none;
  border: 2px solid transparent;
}

b .badge {
  font-weight: normal;
}
