---
import Layout from "../components/Layout.astro";
---

<Layout title="Remplir l'univers de vie">
  <div class="section">
    <h1>Remplir l'univers de vie</h1>
    <p>
      Prima-Era est un jeu de cartes dans lequel vous incarnez <b>
        des tribus de zums
      </b>
      partis à la conquête de l'univers pour le remplir de vie, et de conscience !
    </p>
    <div id="navigation">
      <a href="comment-jouer">Comment jouer ?</a>
      <a href="l-univers">L'univers</a>
      <a href="les-tribus">Les tribus</a>
      <a href="les-ressources">Les ressources</a>
    </div>
  </div>
  <div class="section">
    <h2 id="le-jeu">Le jeu</h2>
    <p>
      Prima-Era prend place dans un univers de
      <a href="l-univers"> science-fiction utopique </a> :
    </p>
    <p>
      Les zums, une espèce de primates très intelligents, ont quitté leur
      planète d'origine à bord d'une immense forêt spatiale pour ensemencer tous
      les recoins de l'univers.
    </p>
    <p>
      Prima-Era se joue seul ou en coopération, en quelques dizaines de minutes.
    </p>
    <p>
      Différents <a href="/comment-jouer#objectifs-de-victoire"
        >objectifs de victoire</a
      >
      sont atteignables en accumulant <a href="/les-ressources"
        >des ressources</a
      > et en augmentant votre affinité avec <a href="/les-tribus">les tribus</a
      >.
    </p>
    <h3>Aucune partie ne se ressemble</h3>
    <p>
      Les joueurs constituent leur deck progressivement, tout au long de la
      partie.
    </p>
    <p>
      Lors de phases de draft, les joueurs tirent plusieurs cartes et pour
      choisissent lesquelles ajouter à leur deck, en tirant parti des
      combinaisons possibles.
    </p>
  </div>
</Layout>
