---
import Layout from "../layout/Layout.astro";
---

<Layout title="Bienvenue à la prima-era" currentPage="l-univers">
  <div class="section">
    <h1>L'univers</h1>
    <p>
      Prima-era évolue dans un univers de science-fiction très futuriste et très
      optimiste.
    </p>
    <p>
      Après un tournant extraordinaire dans leurs vies conflictuelles, les zums
      se sont réunis en tribus complémentaires pour atteindre leur but ultime :
      engendrer le Toum-Oum.
    </p>
  </div>
  <div class="section">
    <h2>Bienvenue à la prima-era</h2>
    <p>
      La prima-era est l'époque de leur histoire qui commence au recyclage de
      Tera, la planète d'origine des zums, et s'achève lorsque toute la galaxie
      est devenue une immense forêt spatiale.
    </p>
  </div>
</Layout>
