---
import type { SvgProps } from "../../svg/SvgProps.type";
import { SVG_CONSTS } from "../../svg/svg-consts";

interface Props extends SvgProps {}
const { size = SVG_CONSTS.size, fill = SVG_CONSTS.fill, title } = Astro.props;
---

<svg
  width={size}
  height={size}
  version="1.1"
  viewBox="0 0 26.458 26.458"
  xmlns="http://www.w3.org/2000/svg"
>
  {title && <title>{title}</title>}
  <path
    d="m3.597 9.0992c0.10215 2.5948 0.35885 5.2923 1.5904 7.6226 1.3308 1.7371 2.9765 3.3185 4.9991 4.2102 1.5265 0.54254 3.1832 0.3485 4.7598 0.20728 1.9738-0.4084 3.8411-1.3196 5.439-2.5327 1.4588-1.5763 2.399-4.7381 2.6194-6.8294-0.17422-1.2223 0.46153-2.6393-0.39171-3.7041-0.60888-0.78888-1.8946-0.36786-2.1789 0.50818-0.21547 0.62637 0.01072 1.2964-0.05445 1.945-0.3335 2.3945-0.43629 5.5955-2.8772 6.8161-1.4191 0.80554-3.0192 1.4053-4.6726 1.2947-1.5756 0.21795-2.9626-0.78346-4.0331-1.8203-1.1442-0.94174-1.9359-2.2934-2.1167-3.7708-0.36359-1.5086-0.32937-3.0828-0.55528-4.6027-0.45987-1.1534-2.4388-0.86352-2.527 0.38244l-0.00707 0.13331z"
    fill={fill}
    stroke-width=".35024"></path>
</svg>
