---
import { TRIBUS } from "../data/tribus";
import { COLORS } from "../data/colors";
import type { IdTribu } from "../types/tribus/IdTribu";

interface Props {
  id: IdTribu;
  plural?: true;
  outline?: true;
}

const { id, plural, outline } = Astro.props;
const tribu = TRIBUS[id];
const color = COLORS[tribu.color];
---

<a
  href={`/les-tribus/${id}`}
  class={`badge bg-${tribu.color} ${COLORS[tribu.color].textWhite ? "text-light" : "text-dark"}`}
  style={outline
    ? `border-color: ${color.textWhite ? "#eee" : "#111"}`
    : undefined}
>
  {tribu.name}{plural ? "s" : ""}
</a>
