---
import Layout from "../../components/Layout.astro";
import Ressource from "../../components/Ressource.astro";
---

<Layout title="La tribu falafafu">
  <div class="section">
    <h1>La <a href="/les-tribus">tribu</a> Falafafu</h1>
    <p><i>Fêter c'est communier</i></p>
    <p>
      La passion de la fête anime les falafafus, quel que soit le lieu, le
      moment.
    </p>
    <p>
      Pour un falafafu, il y a toujours quelque chose à célébrer, car chaque
      chose est le reflet du Toum-Oum.
    </p>
    <p>
      La fête réunit les êtres, les libère de leurs tensions, et c'est pour
      faire s'adoucir la vibration de l'univers que la tribu s'active.
    </p>
  </div>
  <div class="section">
    <h2>Mécaniques</h2>
    <ul>
      <li>
        <b>Partager le bonheur :</b>
        production de <Ressource id="joie" /> à partir d' <Ressource
          id="actions"
          plural={true}
        />, de <Ressource id="psik" /> et de <Ressource id="data" />
      </li>
      <li>
        <b>Danse de la totalité :</b>
        production d'<Ressource id="aibs" />
      </li>
      <li>
        <b>Rayonnement de mérites :</b>
        célébrer une entité ou une ressource pour dupliquer ses effets
      </li>
    </ul>
  </div>
</Layout>
