---
import Layout from "../../components/Layout.astro";
---

<Layout title="La tribu Kolokolo">
  <div class="section">
    <h1>La tribu Kolokolo</h1>

    <p>
      Quand des zums s'installent dans le waild, les kolokolos leur permettent
      de rapidement subvenir à leur besoin.
    </p>
    <p>
      En s'harmonisant avec leur environnement, ils créent des espaces sécurisés
      pour des populations naissantes.
    </p>
    <p>Ils sont un maillon primordial pour emmener la vie encore plus loin.</p>
  </div>
  <div class="section">
    <h2>Mécaniques</h2>
    <ul>
      <li>Conditions optimales : waild actif.</li>
      <li>Réduction des prérequis en waild</li>
      <li>Hébèrgements pour zums, et développement des enfants.</li>
      <li>
        <i>Polyvalence :</i> production et stockage d'eau, jing, data et psik.
      </li>
      <li>Aides à l'installation d'animaux, plantes et bâtiments.</li>
    </ul>
  </div>
</Layout>
