---
import Layout from "../../layout/Layout.astro";
---

<Layout title="La tribu Oumtataoum">
  <h1>Tribu Oumtataoum</h1>

  <p>Les oumtataoums ne font déjà plus partie du monde de la matière.</p>
  <p>
    Ils ont plongé dans les strates les plus subtiles de la pensée, à la
    recherche du Toum-Oum, la Totalité Une.
  </p>
  <p>
    Leur but est de réaliser l'illumination, l'Aïbs, et, évidemment de la
    délivrer à tous les êtres vivants.
  </p>

  <h2>Mécaniques</h2>

  <ul>
    <li>
      Production de Fragment d'Aïbs, indexée sur : la quantité de zums, la data,
      le nombre de cycles.
    </li>
    <li></li>
  </ul>
</Layout>
