---
import Navbar from "./Navbar.astro";
import type { ComponentProps } from "astro/types";

interface Props {
  title: string;
  currentPage?: ComponentProps<typeof Navbar>["currentPage"];
}

const { title, currentPage } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Prima-Era, le jeu de cartes</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <Navbar currentPage={currentPage} />
    <slot />
  </body>
</html>

<style>
  body {
    background: #fefbe7;
    color: #062451;
    padding-bottom: 8rem;
  }
</style>
